version: '3.8'

services:
  postgres-db:
    image: postgres:15-alpine
    container_name: portfolio-db
    environment:
      POSTGRES_USER: gabriel
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: portfolio_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: